{% extends "layout.html" %}

{% block content %}

	{% for each in con %}

		<div class="card">
			<div class="card-header  bg-dark text-white" id={{ each.topic | replace(" ","-") }}>
				<h2><small><small> {% autoescape false %} {{ each.topic }} {% endautoescape %} </small></small></h2>
			</div>
			<div class="card-body">
				{% autoescape false %} {{ each.sol }} {% endautoescape %}
                	</div>
			<div class="card-footer  bg-light ">
				Comment: {% autoescape false %} {{ each.comment }} {% endautoescape %}
                    	</div>
		</div>
		<br>

	{% endfor %}


{% endblock %}

