{% extends "layout.html" %}

{% block content %}

	{% for each in con %}

		<div class="card">
			<div class="card-header  bg-dark text-white">
				Topic: {% autoescape false %} {{ each.topic }} {% endautoescape %}
			</div>
			<div class="card-body">
				" {% autoescape false %} {{ each.sol }} {% endautoescape %}"
                	</div>
			<div class="card-footer  bg-light ">
				Comment: {% autoescape false %} {{ each.comment }} {% endautoescape %}
                    	</div>
		</div>
		<br>

	{% endfor %}


{% endblock %}

